<div class="col">
  <%= simple_form_for(@want) do |f| %>
    <%= render 'form_errors', errors: @want.errors %>

      <%= f.input :name, class: 'ui-autocomplete-input', autocomplete: false %>
      <%= f.input :amount, as: :integer  %>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', wants_path, class: 'btn btn-secondary'  %>
      </div>
  <% end %>
</div>