<%= twitter_bootstrap_form_for(@want) do |f| %>
  <% if @want.errors.any? %>
    <div class="alert-message block-message error">
      <strong><%= pluralize(@want.errors.count, "error") %> prohibited this want from being saved:</strong>
      <ul>
      <% @want.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.text_field :card_name, 'Card name', :class => 'ui-autocomplete-input', :autocomplete => false %>
    <%= f.text_field :amount %>
    <%= f.select :priority, 'Priority', [['Low',1],['Normal',2],['High',3]] %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>

<% end %>
