<h1>Listing wants</h1>

<table class="zebra-striped">
  <tr>
    <th>Card Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wants.each do |want| %>
  <tr>
    <td>
      <%= "<strong>".html_safe if want.priority > 2 %>
      <%= want.card_name %>
      <%= "</strong>".html_safe if want.priority > 2 %>
    </td>
    <td><%= want.amount %></td>
    <td><%= link_to 'Show', want, :id => dom_id(want, :show) %></td>
    <td><%= link_to 'Edit', edit_want_path(want), :id => dom_id(want, :edit) %></td>
    <td><%= link_to 'Destroy', want, confirm: 'Are you sure?', method: :delete, :id => dom_id(want, :delete) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Want', new_want_path %>

<br />


