<%= page_header(index_heading) %>

<%= render 'paginator', records: @wants %>

<% @wants.each do |want| %>
  <div class="col-3-sm" data-cy="<%= want.name %>">
    <div class="card">
      <div class="card-header">
        <%= link_to want.name, want, id: dom_id(want, :show) %>
        <small><%= want.amount %></small>
      </div>
      <div class="card-body">
        <%= render :partial => 'user_trade_info', :locals => {:user => want.user} %>
        <div class="btn-group">
          <% if current_user != want.user %>
            <a href="#" class="card-link">Make Offer</a>
          <% end %>
          <% if current_user == want.user %>
            <a href="<%= haves_path(name: want.name) %>" class="card-link">
              <%= "Traders #{want.have_count}" %>
            </a>
          <% end %>
          <%= link_to 'Edit', edit_want_path(want),
                      class: 'card-link' if can? :update, want %>
          <%= link_to 'Delete', want,
                      data: {confirm: 'Are you sure?'},
                      method: :delete,
                      class: 'card-link' if can? :destroy, want %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= side_nav_link_to 'Find Traders', haves_path(traders: true)  %>
<%= side_nav_link_to "Add Want", new_want_path if can? :create, Want %>


