<h1>Listing wants</h1>

<%= paginate @wants %>

<div class="listing">

<% @wants.each do |want| %>
  <div class="item">
    <% if want.card && want.card.img_url %>
        <%= image_tag(want.card.img_url, :height => "40") %>
    <% else %>
        <%= image_tag("unknowncard.jpg", :height => "40") %>
    <% end %>
    <div>
        <span class="amount"><%= want.amount %></span>
        <span class="card_name"><%= want.card_name %></span>
        </br>
        <%= link_to 'Show', want, :id => dom_id(want, :show) %>
        <%= link_to 'Edit', edit_want_path(want), :id => dom_id(want, :edit) %>
        <%= link_to 'Delete', want, confirm: 'Are you sure?', method: :delete, :id => dom_id(want, :delete) %>
    </div>
  </div>
<% end %>

</div>

<%= side_nav_link_to "Add Want", new_want_path %>
<%= side_nav_link_to 'List Wants', wants_path %>


