<%= page_header('Want') %>

<div class="col">
  <p>
    <b>name:</b>
    <%= @want.name %>
  </p>

  <p>
    <b>Amount wanted:</b>
    <%= @want.amount %>
  </p>

  <p>
    <b>User:</b>
    <%= link_to @want.user, user_path(@want.user) %>
  </p>
</div>

<%= side_nav_link_to 'Find Traders', haves_path(:name => @want.name)  %>
<%= side_nav_link_to 'Add Want', new_want_path if can? :create, Want %>
<%= side_nav_link_to 'Edit Want', edit_want_path(@want) if can? :update, @want %>
<% if current_user != @want.user %>
  <%= side_nav_link_to 'Make Offer', "#" %>
  <%= side_nav_link_to "#{@want.user} Wants", user_wants_path(@want.user) %>
<% end %>
