<h2><%= @want.card_name %></h2>


<p>
  <b>Card name:</b>
  <%= @want.card_name %>
</p>


<p>
  <b>Amount wanted:</b>
  <%= @want.amount %>
</p>

<%= side_nav_link_to 'Add Want', new_want_path if can? :create, Want %>
<%= side_nav_link_to 'Edit Want', edit_want_path(@want) if can? :update, @want %>
<%= side_nav_link_to 'List Wants', wants_path %>
