<h2><%= @want.card_name %></h2>

<p>
  <b>Card name:</b>
  <%= @want.card_name %>
</p>

<p>
  <b>Amount wanted:</b>
  <%= @want.amount %>
</p>

<% unless current_user == @want.user %>
<p>
  <b>User :</b>
  <%= link_to @want.user, user_path(@want.user) %>
</p>
<% end %>



<%= side_nav_link_to 'Add Want', new_want_path if can? :create, Want %>
<%= side_nav_link_to 'Edit Want', edit_want_path(@want) if can? :update, @want %>
<% if current_user == @want.user %>
  <%= side_nav_link_to 'Find Traders', haves_path(:card_name => @want.card_name)  %>
<% end %>
<% if current_user != @want.user %>
    <%= side_nav_link_to "#{@want.user.name} Wants", user_wants_path(@want.user) %>
    <%= side_nav_link_to 'Make Offer', "#" %>
<% end %>
