<h1>Listing users</h1>

<%= paginate @users %>

<div class="listing">

  <% @users.each do |user| %>
      <div class="item user">
        <%= link_to(user.name, user) %>
        <div>
          <%= link_to "Wants : #{user.wants.count}", user_wants_path(user), id: dom_id(user,:wants) %>
          <br/>
          <%= link_to "Haves : #{user.haves.count}", user_haves_path(user), id: dom_id(user,:haves) %>
        </div>
      </div>
  <% end %>

</div>

<br/>

<%= side_nav_link_to 'Add User', new_user_path if can? :create, User %>
