<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Online Trader</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <ul class="nav">
          <%= main_nav_link('Home', root_path) %>
          <% if user_signed_in? %>
            <%= main_nav_link('My Account', user_path(current_user)) %>
            <%= main_nav_link('My Wants', user_wants_path(current_user)) %>
            <%= main_nav_link('I Have', user_haves_path(current_user)) %>
            <%= main_nav_link('My Trades', trades_path) %>
            <%= main_nav_link('Users', users_path) %>
            <%= main_nav_link('All Wants', wants_path) %>
            <%= main_nav_link('All Haves', haves_path) %>
            <%= main_nav_link('Logout', logout_path, :method=>'delete') %>
          <% else %>
            <%= main_nav_link('Login/Sign up', login_path)  %>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>