<div class="col">
  <%= simple_form_for(@have, html: { novalidate: false }) do |f| %>
    <%= render 'form_errors', errors: @have.errors %>

    <%= f.input :name, class: 'ui-autocomplete-input', autocomplete: false, input_html: { required: true } %>
    <%= f.input :amount, as: :integer, input_html: { required: true }  %>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', haves_path, class: 'btn btn-secondary'  %>
    </div>
  <% end %>
</div>
