<% if current_user == @user %>
    <h1>I Have</h1>
<% elsif @user %>
    <h1><%= @user %> Cards</h1>
<% else %>
    <h1><em><%= params[:card_name] || "Tradable Cards" %></em> </h1>
<% end %>

<%= paginate @haves %>

<div class="listing">

<% @haves.each do |have| %>
  <div class="item have">

    <% if have.card && have.card.img_url %>
        <%= image_tag(have.card.img_url, :height => "40") %>
    <% else %>
        <%= image_tag("unknowncard.jpg", :height => "40") %>
    <% end %>
    <div>
      <span class="amount"><%= have.amount %></span>
              <span class="card_name"><%= link_to have.card_name, have, id: dom_id(have, :show) %></span>
              <% if current_user != have.user %>
                </br>
                <span class="user">User : <%= link_to have.user, user_path(have.user), title: "#{have.user}" %></span>
                <span class="user">You have <%= have.user.trades_for(current_user) %> of his wants</span>
                <span class="user">This User has <%= have.user.trades_for(current_user) %> of your wants</span>
              <% end %>
              </br>
              <% if current_user != have.user %>
                  <%= link_to 'Make Offer', '', class: 'btn info small' %>

              <% end %>
              <% if current_user == have.user %>
                <%= link_to 'Find Traders', wants_path(:card_name => have.card_name), class: 'btn info small'  %>
              <% end %>
              <%= link_to 'Edit', edit_have_path(have),
                          id: dom_id(have, :edit),
                          class: 'btn small' if can? :update, have %>
              <%= link_to 'Delete', have,
                          confirm: 'Are you sure?',
                          method: :delete,
                          id: dom_id(have, :delete),
                          class: 'btn small' if can? :destroy, have %>
    </div>
  </div>
<% end %>

</div>

<br />

<%= side_nav_link_to 'Add Have', new_have_path if can? :create, Have  %>
