<h1>Listing haves</h1>

<%= paginate @haves %>

<div class="listing">

<% @haves.each do |have| %>
  <div class="item have">

    <% if have.card && have.card.img_url %>
        <%= image_tag(have.card.img_url, :height => "40") %>
    <% else %>
        <%= image_tag("unknowncard.jpg", :height => "40") %>
    <% end %>
    <div>
      <span class="amount"><%= have.amount %></span>
              <span class="card_name"><%= link_to have.card_name, have, id: dom_id(have, :show) %></span>
              </br>
              <%= link_to 'Edit', edit_have_path(have), id: dom_id(have, :edit) if can? :update, have %>
              <%= link_to 'Delete', have,
                          confirm: 'Are you sure?',
                          method: :delete,
                          id: dom_id(have, :delete) if can? :destroy, have %>
    </div>
  </div>
<% end %>

</div>

<br />

<%= side_nav_link_to 'Add Have', new_have_path if can? :create, Have  %>
