<% if current_user == @user %>
    <h1>I Have</h1>
<% elsif @user %>
    <h1><%= @user %> Haves</h1>
<% else %>
    <h1><em><%= params[:card_name] || "Everyones Haves" %></em></h1>
<% end %>

<% if current_user == @user %>
    <%= link_to 'Find Traders', wants_path(:traders => true), class: 'btn info small' %>
    <%= link_to 'Export for Duel City',
                url_for(:format => 'forum'),
                class: 'btn info small',
                target: 'forum_export' %>
<% end %>

<%= paginate @haves %>

<div class="listing">

  <% @haves.each do |have| %>
      <div class="item have">
        <% if have.card && have.card.img_url %>
            <%= image_tag(have.card.img_url, :height => "40") %>
        <% else %>
            <%= image_tag("unknowncard.jpg", :height => "40") %>
        <% end %>
        <div>
          <div class="card_info">
            <span class="amount"><%= have.amount %></span>
            <span class="card_name"><%= link_to have.card_name, have, id: dom_id(have, :show) %></span>
          </div>
          <%= render :partial => 'shared/user_trade_info', :locals => {:user => have.user} %>
          <div class="btn-group">
            <% if current_user != have.user %>
                <%= link_to 'Make Offer', '', class: 'btn info small' %>
            <% else %>
                <%= link_to_if (have.want_count > 0), "Traders #{have.want_count}", wants_path(:card_name => have.card_name), class: 'btn info small' %>
            <% end %>
            <%= link_to 'Edit', edit_have_path(have),
                        id: dom_id(have, :edit),
                        class: 'btn small' if can? :update, have %>
            <%= link_to 'Delete', have,
                        data: {confirm: 'Are you sure?'},
                        method: :delete,
                        id: dom_id(have, :delete),
                        class: 'btn small' if can? :destroy, have %>
          </div>
        </div>
      </div>
  <% end %>

</div>

<br/>

<%= side_nav_link_to 'Add Have', new_have_path if can? :create, Have %>
