<%= page_header(index_heading) %>

<%= render 'paginator', records: @haves %>

<% @haves.each do |have| %>
  <div class="col-3-sm">
    <div class="card">
      <div class="card-header">
        <%= link_to have.name, have, id: dom_id(have, :show) %>
        <small><%= have.amount %></small>
      </div>
      <div class="card-body">
        <%= render :partial => 'user_trade_info', :locals => {:user => have.user} %>
        <div class="btn-group">
          <% if current_user != have.user %>
            <a href="#" class="card-link">Make Offer</a>
          <% end %>
          <% if current_user == have.user %>
            <a href="<%= haves_path(name: have.name) %>" class="card-link">
              <%= "Traders #{have.want_count}" %>
            </a>
          <% end %>
          <%= link_to 'Edit', edit_have_path(have),
                      id: dom_id(have, :edit),
                      class: 'card-link' if can? :update, have %>
          <%= link_to 'Delete', have,
                      data: {confirm: 'Are you sure?'},
                      method: :delete,
                      id: dom_id(have, :delete),
                      class: 'card-link' if can? :destroy, have %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= side_nav_link_to 'Find Traders', wants_path(traders: true)  %>
<%= side_nav_link_to "Add Want", new_have_path if can? :create, Want %>


