<% if @trade.errors.any? %>
    <div class="alert-message block-message error">
      <strong><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</strong>
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= simple_form_for(@trade) do |f| %>
    <div class="row-fluid">

      <div class="span5 trade-block">
        <div class="user_field">
          <% if @trade.new_record? || @trade.user == current_user %>
              <b>You</b>
          <% else %>
              <b><%= @trade.user %></b>
          <% end %>
        </div>
        <div class="cards_fields">
          <% @trade.user_cards.each_with_index do |user_card, i| %>
              <div class="clearfix">
                <%= text_field_tag 'trade[user_cards][]',
                                   user_card,
                                   placeholder: 'Insert Card Name',
                                   id: "trade_user_cards_#{i}",
                                   class: "trade_card" %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="span5 trade-block">
        <div class="user_field">
          <% if @trade.new_record? %>
              <%= f.text_field :trade_with %><b><%= @trade.with_user_id.nil? %></b>
          <% elsif @trade.with_user == current_user %>
              <b>You</b>
          <% else %>
              <b><%= @trade.with_user %></b>
          <% end %>
        </div>
        <div class="cards_fields">
          <% @trade.with_user_cards.each_with_index do |user_card,i| %>
              <div class="clearfix">
                <%= text_field_tag 'trade[with_user_cards][]',
                                   user_card,
                                   placeholder: 'Insert Card Name',
                                   id: "trade_with_user_cards_#{i}",
                                   class: "trade_card" %>
              </div>
          <% end %>
        </div>
      </div>

    </div>



    <%= f.actions do %>
        <%= f.submit %>
    <% end %>
<% end %>
