<h1>Listing trades</h1>

<%= paginate @trades %>

<table>
  <tr>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trades.each do |trade| %>
  <tr>

    <td><%= link_to 'Show', trade, id: dom_id(trade, :show) %></td>
    <td><%= link_to 'Edit', edit_trade_path(trade), id: dom_id(trade, :edit) if can? :update, trade %></td>
    <td><%= link_to 'Delete', trade, confirm: 'Are you sure?', method: :delete, id: dom_id(trade, :delete) if can? :destroy, trade %></td>
  </tr>
<% end %>
</table>

<br />

<%= side_nav_link_to 'Add Trade', new_trade_path if can? :create, Trade  %>
