<!DOCTYPE html>
<html>
<head>
  <title>Yugioh Online Trader</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container-fluid">
      <a class="brand" href="#">Yugioh Online Trader</a>
      <%= render 'shared/navigation' %>
    </div>
  </div>
</div>

<div id="main-container" class="container-fluid">

  <div class="sidebar">
    <ul class="pills pills-vertical">
      <%= yield :side_nav %>
    </ul>
  </div>

  <div class="content">
    <%- flash.each do |name, msg| -%>
        <% name = 'error' if name.to_s == 'alert' %>
        <div class="alert-message <%= name %> fade in" data-alert="alert">
          <a class="close" href="#">×</a>
          <%= msg.to_s %>
        </div>
    <%- end -%>
    <%= yield %>
  </div>

</div>

<br/><br/><br/>

<footer class="fotter">
  <div class="container-fluid">
    <ul class="nav">
      <li> &copy; Grant Speelman 2012</li>
      <li>
        <a href="http://www.ruby-lang.org/">
          <%= image_tag("http://www.ruby-lang.org/images/logo.gif", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://rubyonrails.org/">
          <%= image_tag("http://rubyonrails.org/images/rails.png", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://www.mongodb.org/">
          <%= image_tag("http://media.mongodb.org/logo-mongodb.png", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://mongoid.org/">
          <%= image_tag("http://mongoid.org/images/mongoid-logo-small.png", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://www.omniauth.org/">
          <%= image_tag("http://www.omniauth.org/images/logo.png", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://jquery.com/">
          <%= image_tag("http://static.jquery.com/files/rocker/images/logo_jquery_215x53.gif", :height => "25") %>
        </a>
      </li>
      <li>
        <a href="http://www.heroku.com/">
          <%= image_tag("https://nav.heroku.com/images/logos/logo.png", :height => "25") %>
        </a>
      </li>
    </ul>
  </div>
</footer>
<!-- /container -->


</body>
</html>
