<!DOCTYPE html>
<html>
<head>
  <title>Yugioh Online Trader</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container-fluid">
      <%= render 'shared/navigation' %>
    </div>
  </div>
</div>

<br clear="all"/>

<div class="container-fluid">

  <div class="sidebar">
  </div>

  <div class="content">
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <%= yield %>
  </div>

  <footer>
    <p>&copy; Company 2011</p>
  </footer>

</div>
<!-- /container -->


</body>
</html>
