<!DOCTYPE html>
<html>
<head>
  <title>Yugioh Online Trader</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= render 'shared/navigation' %>
    </div>
  </div>
</div>

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Page name
        <small>Supporting text or tagline</small>
      </h1>
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
    </div>
    <div class="row">
      <div class="span4">
        <h3>Secondary content</h3>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Company 2011</p>
  </footer>

</div>
<!-- /container -->


</body>
</html>
