<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Trader</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Online Trader</a>
      <%= render 'shared/navigation' %>
    </div>
  </div>
</div>

<div id="main-container" class="container-fluid">

  <div class="row-fluid">

    <div class="span2 sidebar">
      <ul class="nav nav-pills nav-stacked">
        <%= yield :side_nav %>
      </ul>
    </div>

    <div class="span10 content">
      <%- flash.each do |name, msg| -%>
          <% name = 'error' if name.to_s == 'alert' %>
          <div class="alert-message <%= name %> fade in" data-alert="alert">
            <a class="close" href="#">×</a>
            <%= msg.to_s %>
          </div>
      <%- end -%>
      <%= yield %>
    </div>
  </div>

</div>
<!-- /container -->


</body>
</html>
